.container{
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 10px
}

@media (max-width: 1200px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
}
@media (max-width: 800px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 400px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}